* @JOKR-Services/product-architecting-engineers @JOKR-Services/product-core-engineers

/.devops.config @JOKR-Services/product-platform-engineers
/.github/workflows/ @JOKR-Services/product-platform-engineers
